@import url("https://fonts.googleapis.com/css2?family=Itim&family=Mali&family=Noto+Sans+Thai+Looped:wght@600&family=Thasadith:wght@400;700&display=swap");

body {
  font-family: "Mali", cursive;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dceafa;
}

nav {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 33%;
  width: 40%;
}

.welcome {
  font-family: "Noto Sans Thai Looped", sans-serif;
  font-size: 24px;
  margin-bottom: 20px;
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login_input {
  font-family: "Mali", cursive;
  font-size: 20px;
  width: 70%;
  height: 50px;
  padding: 20px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.login_btn {
  font-family: "Mali", cursive;
  font-size: 20px;
  padding: 5%;
  background: hsl(233deg 36% 38%);
  color: #fff;
  border: none;
  border-radius: 30px;
  font-weight: 600;
  width: 40%;
}

.login_btn:hover {
  background-color: #0056b3;
}
